{% load static %}
<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-brand">
        <img src="{% static 'meta_search/logos/arrow-icon.png' %}" alt="Logo" class="footer-logo" />
        <span class="footer-title">Expedia</span>
      </div>
      <p>2025 Expedia Booking Corporation Ltd.</p>
    </div>
    <div class="footer-right">
      <div class="footer-links-row">

        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </div>
      <div class="footer-links-row">
        <a href="#"></a>
        <a href="#"></a>
      </div>
    </div>
  </div>
</footer>
